.bio-card {
    line-height: 1.6;
    font-size: 14px;
    color: #333;
    padding: 1%;
    background-color: #f9f0ec;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .bio-card h3 {
    margin-bottom: 15px;
  }
  
  .bio-card p {
    color: #555;
    font-weight: 300;
  }